h1{
	text-align: center; color: rgb(100,400,300);
}

img{
	display: block;margin: auto;
	cursor: wait;
}
h3{
	text-align: center; 
	color: rgb(100,400,300);
}

table {
  font-family: forte;
  border-collapse: collapse;
  width: 150%;
  cursor: wait;
  text-align: left; color: rgb(190,100,100);
}

td{
  border: 4px solid #dddddd;
  text-align: left;
  padding: 11px;
}

td{
  background-color: #99ccff;
}

h3{
	text-align: center; color: rgb(100,400,300);
}

p{
	text-align: center; color: rgb(100,400,300);
	margin-left: 3cm;
	margin-right: 3cm;
	margin-top: 2cm;
	margin-bottom: 2cm;
	cursor: wait;
	font-family: georgia;
}