body {
	background-color: rgb(270,225,200);
}

h1{
	text-align: center; color: rgb(225,25,110);
}

img{
	display: block;margin: auto;
}
h3{
	text-align: center; 
	color: rgb(90,25,270);
}

table {
  font-family: forte;
  border-collapse: collapse;
  width: 150%;
}

td{
  border: 4px solid #dddddd;
  text-align: left;
  padding: 11px;
}

td{
  background-color: #99ccff;
}

h3{
	text-align: center; color: rgb(90,25,230);
}

p{
	text-align: center; color: rgb(10,25,90);
	margin-left: 3cm;
	margin-right: 3cm;
	cursor: wait;
	font-family: georgia;
}